@{
    ViewData["Title"] = "Agregar Disciplina";
}

         <h2>Asignar disciplinas a @Model.Nombre @Model.Apellido</h2>

         <form asp-action="AsignarDisciplinas" method="post">

             <div>
                 <label>Disciplinas actuales</label>
                 <ul>
                     @foreach (var disciplina in Model.DisciplinasActuales)
            {
                <li>@disciplina.Nombre</li>
            }
        </ul>
    </div>

    <div>
        <label>Nuevas disciplinas</label>
        <select asp-for="NuevasDisciplinas" multiple="multiple" class="form-control">
            @foreach (var disciplina in Model.TodasLasDisciplinas)
            {
                <option value="@disciplina.Id">@disciplina.Nombre</option>
            }
        </select>
    </div>

    <button type="submit">Guardar</button>
</form>